
.ipynb_checkpoints/bootstrap-checkpoint.ipynb
.ipynb_checkpoints/bootstrap-checkpoint.ipynb
.ipynb_checkpoints/bootstrap-checkpoint.Rmd
.ipynb_checkpoints/bootstrap_old-checkpoint.ipynb
.ipynb_checkpoints/bootstrap_original-checkpoint.ipynb
__pycache__/bootstrap_plots.cpython-311.pyc
__pycache__/central_limit_illustration.cpython-311.pyc
__pycache__/population_sample_image_generator.cpython-311.pyc
